{% if in_component_library %}
  {% set context = '@context' %}
{% else %}
  {% set context = 'context.twig' %}
{% endif %}


<div class="colby-image-text-block">
{% if image_path %}
  {% set image_path_width = function ('getimagesize', image_path)[0] %}
{% endif %}
{% set image_media_width = (image['width']) %}

  {% if wrapping_text == 'wrap' %}
    {% if (image) and (align_image == 'left') %}
        <div class="flex flex-col md:block">
        {% if image_scale == '100' %}
          <img style="width: {{image_media_width}}px;" class="self-center md:!mr-4 !mb-4 float-left" src="{{ image['url'] }}" alt="{{ image['alt'] }}" />
        {% endif %}
        {% if image_scale == '75' %}
          <img style="width: {{image_media_width * 0.75}}px;" class="self-center md:!mr-4 !mb-4 float-left" src="{{ image['url'] }}" alt="{{ image['alt'] }}" />
        {% endif %}
        {% if image_scale == '50' %}
          <img style="width: {{image_media_width * 0.5}}px;" class="self-center md:!mr-4 !mb-4 float-left" src="{{ image['url'] }}" alt="{{ image['alt'] }}" />
        {% endif %}
        {% if image_scale == '25' %}
          <img style="width: {{image_media_width * 0.25}}px;" class="self-center md:!mr-4 !mb-4 float-left" src="{{ image['url'] }}" alt="{{ image['alt'] }}" />
        {% endif %}
        {{ paragraph_text }}
        </div>
    {% endif %}
    {% if (image_path) and (align_image == 'left') %}
        <div class="flex flex-col md:block">
        {% if image_scale == '100' %}
          <img style="width: {{image_path_width}}px;" class="self-center md:!mr-4 !mb-4 float-left" src="{{ image_path }}" alt="{{ image['alt'] }}" />
        {% endif %}
        {% if image_scale == '75' %}
          <img style="width: {{image_path_width * 0.75}}px;" class="self-center md:!mr-4 !mb-4 float-left" src="{{ image_path }}" alt="{{ image['alt'] }}" />
        {% endif %}
        {% if image_scale == '50' %}
          <img style="width: {{image_path_width * 0.5}}px;" class="self-center md:!mr-4 !mb-4 float-left" src="{{ image_path }}" alt="{{ image['alt'] }}" />
        {% endif %}
        {% if image_scale == '25' %}
          <img style="width: {{image_path_width * 0.25}}px;" class="self-center md:!mr-4 !mb-4 float-left" src="{{ image_path }}" alt="{{ image['alt'] }}" />
        {% endif %}
        {{ paragraph_text }}
        </div>
    {% endif %}
    {% if (image) and (align_image == 'right') %}
        <div class="flex flex-col md:block">
        {% if image_scale == '100' %}
          <img style="width: {{image_media_width}}px;" class="self-center md:!ml-4 float-right" src="{{ image['url'] }}" alt="{{ image['alt'] }}" />
        {% endif %}
        {% if image_scale == '75' %}
          <img style="width: {{image_media_width * 0.75}}px;" class="self-center md:!!ml-4 float-right" src="{{ image['url'] }}" alt="{{ image['alt'] }}" />
        {% endif %}
        {% if image_scale == '50' %}
          <img style="width: {{image_media_width * 0.5}}px;" class="self-center md:!!ml-4 float-right" src="{{ image['url'] }}" alt="{{ image['alt'] }}" />
        {% endif %}
        {% if image_scale == '25' %}
          <img style="width: {{image_media_width * 0.25}}px;" class="self-center md:!ml-4 float-right" src="{{ image['url'] }}" alt="{{ image['alt'] }}" />
        {% endif %}
        {{ paragraph_text }}
        </div>
    {% endif %}
        {% if (image_path) and (align_image == 'right') %}
        <div class="flex flex-col md:block">
        {% if image_scale == '100' %}
          <img style="width: {{image_path_width}}px;" class="self-center md:!ml-4 !mb-4 float-right" src="{{ image_path }}" alt="{{ image['alt'] }}" />
        {% endif %}
        {% if image_scale == '75' %}
          <img style="width: {{image_path_width * 0.75}}px;" class="self-center md:!ml-4 !mb-4 float-right" src="{{ image_path }}" alt="{{ image['alt'] }}" />
        {% endif %}
        {% if image_scale == '50' %}
          <img style="width: {{image_path_width * 0.5}}px;" class="self-center md:!ml-4 !mb-4 float-right" src="{{ image_path }}" alt="{{ image['alt'] }}" />
        {% endif %}
        {% if image_scale == '25' %}
          <img style="width: {{image_path_width * 0.25}}px;" class="self-center md:!ml-4 !mb-4 float-right" src="{{ image_path }}" alt="{{ image['alt'] }}" />
        {% endif %}
        {{ paragraph_text }}
        </div>
    {% endif %}
  {% else %}
    {% if (image) and (align_image == 'left') %}
        <div class="flex flex-col md:flex-row">
        {% if image_scale == '100' %}
          <img style="width: {{image_media_width}}px;" class="self-center md:self-start mr-4 mb-4" src="{{ image['url'] }}" alt="{{ image['alt'] }}" />
        {% endif %}
        {% if image_scale == '75' %}
          <img style="width: {{image_media_width * 0.75}}px;" class="self-start md:self-start mr-4 mb-4" src="{{ image['url'] }}" alt="{{ image['alt'] }}" />
        {% endif %}
        {% if image_scale == '50' %}
          <img style="width: {{image_media_width * 0.5}}px;" class="self-start md:self-start mr-4 mb-4" src="{{ image['url'] }}" alt="{{ image['alt'] }}" />
        {% endif %}
        {% if image_scale == '25' %}
          <img style="width: {{image_media_width * 0.25}}px;" class="self-start md:self-start mr-4 mb-4" src="{{ image['url'] }}" alt="{{ image['alt'] }}" />
        {% endif %}
          <div class="flex flex-col">
            {{ paragraph_text }}
          </div>
        </div>
    {% endif %}
        {% if (image_path) and (align_image == 'left') %}
        <div class="flex flex-col md:flex-row">
        {% if image_scale == '100' %}
          <img style="width: {{image_path_width}}px;" class="self-center md:self-start mr-4 mb-4" src="{{ image_path }}" alt="{{ image['alt'] }}" />
        {% endif %}
        {% if image_scale == '75' %}
          <img style="width: {{image_path_width * 0.75}}px;" class="self-start md:self-start mr-4 mb-4" src="{{ image_path }}" alt="{{ image['alt'] }}" />
        {% endif %}
        {% if image_scale == '50' %}
          <img style="width: {{image_path_width * 0.5}}px;" class="self-start md:self-start mr-4 mb-4" src="{{ image_path }}" alt="{{ image['alt'] }}" />
        {% endif %}
        {% if image_scale == '25' %}
          <img style="width: {{image_path_width * 0.25}}px;" class="self-start md:self-start mr-4 mb-4" src="{{ image_path }}" alt="{{ image['alt'] }}" />
        {% endif %}
          <div class="flex flex-col">
            {{ paragraph_text }}
          </div>
        </div>
    {% endif %}
    {% if (image) and (align_image == 'right') %}
        <div class="flex flex-col md:!flex-row-reverse">
        {% if image_scale == '100' %}
          <img style="width: {{image_media_width}}px; margin: 0 auto;" class="self-center md:self-start !mb-4 md:!ml-4" src="{{ image['url'] }}" alt="{{ image['alt'] }}" />
        {% endif %}
        {% if image_scale == '75' %}
          <img style="width: {{image_media_width * 0.75}}px; margin: 0 auto;" class="self-center md:self-start !mb-4 md:!ml-4" src="{{ image['url'] }}" alt="{{ image['alt'] }}" />
        {% endif %}
        {% if image_scale == '50' %}
          <img style="width: {{image_media_width * 0.5}}px; margin: 0 auto;" class="self-center md:self-start !mb-4 md:!ml-4" src="{{ image['url'] }}" alt="{{ image['alt'] }}" />
        {% endif %}
        {% if image_scale == '25' %}
          <img style="width: {{image_media_width * 0.25}}px; margin: 0 auto;" class="self-center md:self-start !mb-4 md:!ml-4" src="{{ image['url'] }}" alt="{{ image['alt'] }}" />
        {% endif %}
          <div class="flex flex-col">
            {{ paragraph_text }}
          </div>
        </div>
    {% endif %}
        {% if (image_path) and (align_image == 'right') %}
        <div class="flex flex-col md:!flex-row-reverse">
        {% if image_scale == '100' %}
          <img style="width: {{image_path_width}}px; margin: 0 auto;" class="self-center md:self-start !mb-4 md:!ml-4" src="{{ image_path }}" alt="{{ image['alt'] }}" />
        {% endif %}
        {% if image_scale == '75' %}
          <img style="width: {{image_path_width * 0.75}}px; margin: 0 auto;" class="self-center md:self-start !mb-4 md:!ml-4" src="{{ image_path }}" alt="{{ image['alt'] }}" />
        {% endif %}
        {% if image_scale == '50' %}
          <img style="width: {{image_path_width * 0.5}}px; margin: 0 auto;" class="self-center md:self-start !mb-4 md:!ml-4" src="{{ image_path }}" alt="{{ image['alt'] }}" />
        {% endif %}
        {% if image_scale == '25' %}
          <img style="width: {{image_path_width * 0.25}}px; margin: 0 auto;" class="self-center md:self-start !mb-4 md:!ml-4" src="{{ image_path }}" alt="{{ image['alt'] }}" />
        {% endif %}
          <div class="flex flex-col">
            {{ paragraph_text }}
          </div>
        </div>
    {% endif %}
  {% endif %}
</div>